@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Cinzel+Decorative:wght@400;700&family=Slabo+27px&display=swap');

body,
.markdown-preview-view,
.site-body-container,
.markdown-rendered {
  background-color: #1e1e1e !important;
  color: #dddddd !important;
  font-family: 'Slabo 27px', serif !important;
  font-size: 18px;
  line-height: 1.6;
}


h1, h2 {
  font-family: 'Cinzel', serif !important;
  font-weight: 700 !important;
  color: #dddddd !important;
}

h3, h4 {
  font-family: 'Cinzel Decorative', serif !important;
  font-weight: 400 !important;
  color: #dddddd !important;
}

p {
  font-family: 'Slabo 27px', serif !important;
  font-size: 18px !important;
  color: #dddddd !important;
}

a {
  font-family: 'Slabo 27px', serif !important;
  font-size: 18px !important;
  color: #71bf98 !important;
}

ul, ol, li {
  font-family: 'Slabo 27px', serif !important;
  font-size: 18px !important;
  line-height: 1.6 !important;
  color: #dddddd !important; /* or #333333 if light mode */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-fluid{
  padding: 0 !important;
}

.bg-holder{
  height: calc(100vh - 60px) !important;
  background: url("./img/world-runner.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
}

.vertical-align{
  min-height: calc(100vh - 60px) !important;
  display: flex;
  align-items: flex-end;
  padding-bottom: 60px;
}

.white-text{
  color: #fff !important;
}
.jumbotron{
  background: none !important;
}

.site-button {
  background-color: #50856B !important;
  color: #dddddd !important;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  width: 300px;
  height: 50px;
  line-height: 30px;
  text-decoration: none;
  border-radius: 5px;
}

.site-button:hover {
  background-color: #3e6b56 !important;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #1e1e1e !important;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}